* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    color: #0000EE;
}

body {
    display: flex;
    flex-flow: column;
    padding: 0 50px;
    line-height: 24px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    user-select: none;
}

pre {
    display: flex;
}

code {
    flex: 1;
}